@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Lora', serif;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-thumb{
    display: none;
}
.heading {
    font-family: 'Playfair Display', serif;
  }